

body {
  font-family: 'Arial', sans-serif;
  margin: 30px;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container,
.search-container {
  display: flex;
  /* align-items: center;  */
  margin-left: auto;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

button {
  padding: 10px;
  background-color: #703fb9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;

}

.search-container label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  justify-content: space-between;
}

.completed {
  color: #4caf50;
  margin-left: auto;
}

.not-completed {
  color: #f44336;
  margin-left: auto;
}
.signout-container {
  margin-left: auto;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}